{% extends "baseback.html.twig" %}

{% block body %}

    <div class="form-group" style="margin: auto" >
    {{ form_start(form ,  {'attr' : {'novalidate': 'novalidate'}}) }}


        {{ form_row(form.typePaiement ,{'attr':{ 'class': 'form-control' }}) }}


        {{ form_end(form) }}
    </div>

{% endblock %}