{% extends 'basefront.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <body>

<div class="form-group">
    {{ form_start(form ,  {'attr' : {'novalidate': 'novalidate'}}) }}

<div class="form-control-plaintext">
    {{ form_row(form.contenu ,{'attr':{ 'class': 'form-control'}}) }}

</div>

    {{ form_end(form) }}
</div>

    </body>
{% endblock %}