{% extends 'baseback.html.twig' %}
{% block body %}
    <h1>Reclamations</h1>
    <div></div>
    <div style="text-align: center ; margin: auto">
        {{ reclamation.etatReclamation }}
        </div>
    <div style="text-align: center; margin: auto">
        {{ reclamation.contenu }}
    </div>



{% endblock %}