{% extends "basefront.html.twig" %}

{% block body %}
    <div>
    <li class="form-group col-md-6" style="display: inline-block">

        {{ reclamation.etatReclamation }}
    </li>

    <li class="h2" style="horiz-align: center">

        {{ reclamation.contenu }}

    </li>
    </div>


{% endblock %}