{% extends 'basefront.html.twig' %}

{% block title %}Edit Planning{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Event form</h4>
                    <p class="card-description">Edit Event</p>

                    {{ form_start(form) }} {{ form_widget(form) }} {{ form_end(form) }}


                    <a href="{{ path('PlanningFront_show') }}">back to list</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
