
{% block title %}imprimer post {% endblock %}

{% block body %}

    {
    <table>
        <div class="card-body">
            <table>

                <tr>
                    <th> contenu</th>
                    <th>image</th>

                </tr>


                <tr>
                    <td>{{poste.contenu}}</td>
                    <td>{{poste.image}}</td>





                </tr>


            </table>

            </form>
        </div>
        </td>
    </table>
{% endblock %}