{% extends 'basefront.html.twig' %}
{% block body %}

    {% block head %}Success{% endblock %}
<section>
    <p>
        Merci pour votre support! Si vous avez des questions, veuillez envoyer un mail à l'adresse suivante
        <a href="travediacontact@gmail.com">travediacontact@gmail.com</a>.

    </p>
</section>
{% endblock %}