{% extends 'baseback.html.twig' %}

{% block title %}Full Calendar{% endblock %}

    {% block extracss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        <style>
            body {
                --fc-button-text-color: grey;
            }
        </style>
    {% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            width: 1100px;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div id='calendrier'></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

    <script>
        var data = {{ data|raw }};
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: data,
                editable: false,
                eventResizableFromStart: true
            })

            calendar.render()
        }

    </script>

{% endblock %}